/* 
  TO DO: 

  Hover target for social media icons - non-static 

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font: normal 18px/1.5 "Barlow", "Fraunces", sans-serif;
}

body,
.grid-container,
.main {
  overflow-x: hidden;
}

/* =================================
                LAYOUT
==================================== */

.grid-container,
.main,
.images {
  display: grid;
}

.grid-container,
.main {
  grid-template-columns: 1fr;
}

.grid-container {
  min-height: 100vh;
  grid-template-rows: minmax(500px, auto) 1fr minmax(240px, auto);
}

.main {
  grid-template-rows:
    auto minmax(300px, auto) auto minmax(300px, auto)
    repeat(2, auto)
    1fr minmax(430px, auto);
  grid-template-areas:
    "egg"
    "transform"
    "wine"
    "standout"
    "cherry"
    "orange"
    "testimonials"
    "images";
}

.images {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: images;
}

/* ============================
      MOBILE + GENERAL STYLES
=============================== */
.header {
  padding: 1rem;
  background: lightblue url("/images/desktop/image-header.jpg") no-repeat center;
  background-size: cover;
}

.nav-logo-container {
  justify-content: space-between;
}

.hamburger-btn {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

.main-nav {
  width: 90%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.main-nav::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -25px;
  background-color: white;
  height: 27px;
  width: 27px;
  clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
}

.main-nav a,
.footer-nav a {
  display: block;
  color: hsl(213, 9%, 39%);
}

.main-nav a {
  padding: 1.5rem 8rem;
}

.contact-btn {
  margin: 0.5rem 0 1.8rem 0;
  padding: 0.7rem 1.2rem;
  background-color: hsl(51, 100%, 49%);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bolder;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.4ch;
}

.arrow {
  display: block;
  margin: auto;
}

.egg {
  grid-area: egg;
}

.transform {
  grid-area: transform;
}

.standout {
  grid-area: standout;
}

.transform,
.standout {
  justify-content: center;
  padding: 0.5rem 1rem 2.4rem;
}

.wine {
  grid-area: wine;
}

.cherry img,
.orange img,
.wine img,
.egg img {
  width: 100%;
}

.cherry {
  grid-area: cherry;
}

.orange {
  margin-top: -7px;
  grid-area: orange;
}

.cherry,
.orange {
  position: relative;
}

.cherry section,
.orange section {
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.cherry p,
.orange p {
  font-size: 0.8rem;
}

.h3 {
  font-size: 1.5rem;
  color: hsl(167, 40%, 24%);
  margin-top: 0;
}

.testimonials {
  justify-content: center;
  padding: 3rem 0 2rem 0;
  grid-area: testimonials;
}

.testimonials-heading {
  margin: 2rem auto;
  color: hsl(210, 4%, 67%);
  font-size: 1.3rem;
  letter-spacing: 0.3ch;
}

.testimonials-content {
  flex-wrap: wrap;
  margin: 3rem 0;
}

.testimonials-article {
  flex: 1 370px;
}

.profile-img {
  width: 70px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.testimonials-content p {
  width: 80%;
}

.name,
.job-role {
  display: block;
}

.name {
  margin-top: 1.5rem;
}

.job-role {
  margin-bottom: 1.2rem;
  color: hsl(213, 9%, 39%);
}

.milk {
  background: lightblue url("/images/desktop/image-gallery-milkbottles.jpg")
    no-repeat center 100%;
  background-size: cover;
}

.orange-half {
  background: orange url("/images/desktop/image-gallery-orange.jpg") no-repeat
    0% 0%;
  background-size: cover;
}

.cone {
  background: lightblue url("/images/desktop/image-gallery-cone.jpg") no-repeat
    center;
  background-size: cover;
}

.sugar-cubes {
  background: lightblue url("/images/desktop/image-gallery-sugarcubes.jpg")
    no-repeat 0% 40%;
  background-size: cover;
}

.footer {
  background-color: #83cbbd;
}

.footer h3 {
  margin-top: 1.5rem;
}

.footer-nav a {
  padding: 0 2rem;
}

.social-media {
  margin: 2.5rem 0;
}

.social-icons-wrapper {
  padding-right: 1rem;
}

/* ======================================
          REPETTITIVE STYLES
========================================= */
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.main a {
  display: inline-block;
  margin-top: 2rem;
  border-radius: 5px;
  color: black;
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.h2 {
  margin: 1rem auto;
  font-size: 1.7rem;
}

.p {
  margin: auto;
  max-width: 460px;
}

.fraunces {
  font-family: Fraunces;
}

/* =====================================
              ELEMENT STATE 
======================================== */

.hidden {
  display: none;
}

.main-nav a:hover {
  text-decoration: underline;
}

.contact-btn:hover {
  background-color: hsl(213, 9%, 39%);
  color: hsl(51, 100%, 49%);
  transition: 400ms;
}

.learn-more::after {
  content: "";
  display: block;
  margin-top: -9px;
  width: 120px;
  height: 10px;
  border-radius: 10px;
}

.transform a::after {
  background-color: rgba(255, 232, 102, 0.6);
}

.standout a::after {
  background-color: rgba(253, 122, 104, 0.6);
}

.transform a:hover::after {
  background-color: rgba(255, 232, 102);
}

.standout a:hover::after {
  background-color: rgba(253, 122, 104);
}

.footer a:hover {
  color: white;
  font-weight: bold;
}

.social-icons:hover {
  fill: white;
  cursor: pointer;
}

/* ==================================
            MEDIA QUERIES
===================================== */

@media (min-width: 57rem) {
  .grid-container {
    grid-template-rows: minmax(650px, auto) 1fr minmax(240px, auto);
  }

  .main {
    grid-template-rows: repeat(3, minMax(500px, auto)) 1fr minmax(700px, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "transform egg"
      "wine standout"
      "cherry orange"
      "testimonials testimonials"
      "images images";
  }

  .hidden {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .main-nav {
    width: unset;
    position: static;
    transform: none;
    background-color: transparent;
  }

  .main-nav::after {
    display: none;
  }

  .main-nav-ul {
    display: flex;
  }

  .main-nav a {
    padding: 0;
    margin-right: 2rem;
    color: white;
    font-weight: bolder;
  }

  .main-nav a:hover {
    color: white;
  }

  .contact-btn {
    margin: 0;
    background-color: white;
    color: black;
    font-weight: bold;
  }

  .contact-btn:hover {
    background-color: #66beff;
    color: white;
  }

  .title-container {
    margin-top: 5rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .arrow {
    margin-top: 3.5rem;
  }

  .transform section,
  .standout section {
    text-align: left;
    width: 70%;
  }

  .h2 {
    margin: 1rem 0;
    font-size: 2rem;
  }

  .p {
    width: 100%;
  }

  .orange {
    background-position: center 10%;
  }

  .testimonials {
    padding: 4rem 3rem;
  }
}

@media (min-width: 67rem) {
  .main {
    grid-template-rows: repeat(3, minMax(500px, auto)) 1fr minmax(500px, auto);
  }

  .images {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .orange-half {
    background-position: 55% 0%;
  }

  .sugar-cubes {
    background-position: 80% 40%;
  }
}
