/*
TO DO: 
    Re-factor 
    Border bottom style for links in <main>
    Mobile nav - style + start off invisible when return to smaller screen size from wider 
    Font-sizing 
    Background images 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font: normal 18px/1.5 "Barlow", "Fraunces", sans-serif;
}

/* =================================
                LAYOUT
==================================== */

.grid-container,
.main,
.images {
  display: grid;
}

.grid-container,
.main {
  grid-template-columns: 1fr;
}

.grid-container {
  min-height: 100vh;
  grid-template-rows: minmax(430px, auto) 1fr minmax(240px, auto);
}

.main {
  grid-template-rows:
    repeat(4, minMax(400px, auto)) repeat(2, minMax(500px, auto))
    1fr minmax(700px, auto);
  grid-template-areas:
    "egg"
    "transform"
    "wine"
    "standout"
    "cherry"
    "orange"
    "testimonials"
    "images";
}

.images {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: images;
}

/* ============================
      MOBILE + GENERAL STYLES
=============================== */
.header {
  padding: 1rem;
  background: lightblue url("/images/desktop/image-header.jpg") no-repeat center;
  background-size: cover;
}

.nav-logo-container {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-nav a,
.footer-nav a {
  display: block;
  color: hsl(213, 9%, 39%);
}

.main-nav a {
  padding: 1.5rem 9rem;
}

.contact-btn {
  margin: 0.5rem 0 1.8rem 0;
  padding: 0.7rem 1.2rem;
  background-color: hsl(51, 100%, 49%);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bolder;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.4ch;
}

.arrow {
  display: block;
  margin: auto;
}

.egg {
  background: yellow url("/images/mobile/image-transform.jpg") no-repeat center
    40%;
  background-size: cover;
  grid-area: egg;
}

.transform {
  grid-area: transform;
}

.standout {
  grid-area: standout;
}

.transform,
.standout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.egg-orange-content {
  width: 80%;
  text-align: center;
}

.learn-more {
  border-bottom: 5px solid;
}

.transform a {
  border-color: rgba(255, 232, 102, 0.6);
}

.standout a {
  border-color: rgba(253, 122, 104, 0.6);
}

.wine {
  background: rgba(253, 122, 104) url("/images/mobile/image-stand-out.jpg")
    no-repeat center 45%;
  background-size: cover;
  grid-area: wine;
}

.cherry {
  background: lightseagreen url("/images/desktop/image-graphic-design.jpg")
    no-repeat center 10%;
  background-size: cover;
  grid-area: cherry;
}

.orange {
  background: lightskyblue url("/images/desktop/image-photography.jpg")
    no-repeat center 10%;
  background-size: cover;
  grid-area: orange;
}

.cherry,
.orange {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.7rem;
}

.cherry-orange-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.h3 {
  font-size: 1.5rem;
  color: hsl(167, 40%, 24%);
}

.testimonials,
.testimonials-content {
  display: flex;
}

.testimonials {
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0 2rem 0;
  text-align: center;
  grid-area: testimonials;
}

.testimonials-heading {
  margin: 2rem auto;
  color: hsl(210, 4%, 67%);
  font-size: 1.3rem;
  letter-spacing: 0.3ch;
}

.testimonials-content {
  flex-wrap: wrap;
  margin: 3rem 0;
}

.testimonials-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 370px;
}

.profile-img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.testimonials-content p {
  width: 60%;
}

.name,
.job-role {
  display: block;
}

.name {
  margin-top: 1.5rem;
}

.job-role {
  margin-bottom: 1.2rem;
  color: hsl(213, 9%, 39%);
}

.milk {
  background: lightblue url("/images/desktop/image-gallery-milkbottles.jpg")
    no-repeat center 100%;
  background-size: cover;
}

.orange-half {
  background: orange url("/images/desktop/image-gallery-orange.jpg") no-repeat
    0% 0%;
  background-size: cover;
}

.cone {
  background: lightblue url("/images/desktop/image-gallery-cone.jpg") no-repeat
    center;
  background-size: cover;
}

.sugar-cubes {
  background: lightblue url("/images/desktop/image-gallery-sugarcubes.jpg")
    no-repeat 0% 40%;
  background-size: cover;
}

.footer {
  background-color: #83cbbd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav ul {
  display: flex;
}

.footer-nav a {
  padding: 0 2rem;
}

.social-media {
  margin: 2.5rem 0;
}

.social-icons-wrapper {
  margin-right: 1rem;
}

/* ======================================
          REPETTITIVE STYLES
========================================= */
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.main a {
  display: inline-block;
  margin-top: 2rem;
  border-radius: 5px;
  color: black;
  font-weight: 900;
}

.h2 {
  width: 70%;
  margin: 1rem auto;
}

.uppercase {
  text-transform: uppercase;
}

.p {
  width: 65%;
  margin: auto;
}

.title,
.h2,
.h3,
.testimonials-heading,
.name {
  font-family: Fraunces;
}

/* =====================================
              ELEMENT STATE 
======================================== */

.hidden {
  display: none;
}

.main-nav-ul a:hover {
  color: black;
  text-decoration: underline;
}

.contact-btn:hover {
  background-color: hsl(213, 9%, 39%);
  color: hsl(51, 100%, 49%);
  transition: 500ms;
}

.transform a:hover {
  border-bottom: 5px solid rgba(255, 232, 102);
}

.standout a:hover {
  border-bottom: 5px solid rgba(253, 122, 104);
}

.footer a:hover {
  color: white;
  font-weight: bold;
}

.social-icons:hover {
  fill: white;
  cursor: pointer;
}

/* ==================================
            MEDIA QUERIES
===================================== */

@media (min-width: 57rem) {
  .hidden {
    display: block;
  }

  .grid-container {
    grid-template-rows: minmax(650px, auto) 1fr minmax(240px, auto);
  }

  .main {
    grid-template-rows: repeat(3, minMax(500px, auto)) 1fr minmax(700px, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "transform egg"
      "wine standout"
      "cherry orange"
      "testimonials testimonials"
      "images images";
  }

  .hamburger {
    display: none;
  }

  .main-nav {
    display: block;
    position: static;
    background-color: transparent;
    transform: none;
  }

  .main-nav ul {
    display: flex;
    align-items: center;
  }

  .main-nav-ul a {
    padding: 0;
    margin-right: 2rem;
    color: white;
    font-weight: bolder;
  }

  .contact-btn {
    margin: 0;
    background-color: white;
    color: black;
    font-weight: bold;
  }

  .main-nav-ul a:hover {
    color: white;
  }

  .contact-btn:hover {
    background-color: #66beff;
    color: white;
  }

  .title-container {
    margin-top: 5rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .arrow {
    margin-top: 3.5rem;
  }

  .transform,
  .standout,
  .transform section,
  .standout section {
    text-align: left;
  }

  .transform section,
  .standout section {
    width: 70%;
  }

  .h2,
  .transform p,
  .standout p {
    margin: 1rem 0;
    width: 90%;
  }

  .h2 {
    font-size: 2rem;
  }

  .p {
    width: 100%;
  }

  .cherry section,
  .orange section {
    min-width: 390px;
    max-width: 400px;
  }

  .orange {
    background-position: center 10%;
  }

  .testimonials {
    padding: 4rem 3rem;
  }
}

@media (min-width: 67rem) {
  .main {
    grid-template-rows: repeat(3, minMax(500px, auto)) 1fr minmax(500px, auto);
  }

  .images {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .orange-half {
    background-position: 55% 0%;
  }

  .sugar-cubes {
    background-position: 80% 40%;
  }
}
