/*
TO DO: 

    Re-factor 
    Convert layout to flexible grid repeat track value 
    minMax values for txt grid items 
    Border bottom style for links in <main>
    Responsiveness of nav - calc()? 
    Accessibility for SVG 

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font: normal 18px/1.5 "Barlow", "Fraunces", sans-serif;
}

/* =================
        LAYOUT
===================*/

.grid-container,
.main,
.images {
  display: grid;
}

.grid-container,
.main {
  grid-template-columns: 1fr;
}

.grid-container {
  min-height: 100vh;
  grid-template-rows: 430px 1fr 240px;
  border: 1px solid black;
}

.grid-item {
  outline: 1px solid black;
}

.main {
  grid-template-rows: repeat(4, 400px) repeat(2, 500px) 1fr 520px;
  grid-template-areas:
    "egg"
    "transform"
    "wine"
    "standout"
    "cherry"
    "orange"
    "testimonials"
    "images";
}

.images {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: images;
}

.images > * {
  outline: 1px solid black;
}

/* ====================
        ITEMS 
======================*/
.header {
  padding: 1rem;
  background: lightblue url("/images/desktop/image-header.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}

.nav-logo-container {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: none;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 17%;
  left: 16%;
}

.main-nav-ul,
.footer-nav-ul {
  margin: 0;
  padding: 0;
}

.main-nav-ul li,
.footer-nav-ul li {
  list-style-type: none;
}

.main-nav-ul a,
.footer-nav-ul a {
  display: block;
  color: hsl(213, 9%, 39%);
}

.main-nav-ul a {
  padding: 1.5rem 9rem;
}

.contact-btn {
  margin: 0.5rem 0 1.8rem 0;
  padding: 0.7rem 1.2rem;
  background-color: hsl(51, 100%, 49%);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bolder;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.4ch;
}

.arrow {
  display: block;
  margin: auto;
}

.egg {
  background: yellow url("/images/mobile/image-transform.jpg") no-repeat center;
  background-size: cover;
  grid-area: egg;
}

.transform {
  grid-area: transform;
}

.standout {
  grid-area: standout;
}

.transform,
.standout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.transform section,
.standout section,
.cherry section,
.orange section {
  width: 80%;
  text-align: center;
}

.h2 {
  width: 70%;
  margin: 1rem auto;
}

.transform a {
  border-bottom: 5px solid rgba(255, 232, 102, 0.6);
}

.standout a {
  border-bottom: 5px solid rgba(253, 122, 104, 0.6);
}

.wine {
  background: rgba(253, 122, 104) url("/images/mobile/image-stand-out.jpg")
    no-repeat center;
  background-size: cover;
  grid-area: wine;
}

.cherry {
  background: lightseagreen url("/images/desktop/image-graphic-design.jpg")
    no-repeat center;
  background-size: cover;
  grid-area: cherry;
}

.orange {
  background: lightskyblue url("/images/desktop/image-photography.jpg")
    no-repeat center;
  background-size: cover;
  grid-area: orange;
}

.cherry,
.orange {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.cherry section,
.orange section {
  margin-top: auto;
}

.h3 {
  font-size: 1.5rem;
  color: hsl(167, 40%, 24%);
}

.testimonials,
.testimonials-content {
  display: flex;
  flex-direction: column;
}

.testimonials {
  justify-content: center;
  padding: 3rem 0 2rem 0;
  text-align: center;
  grid-area: testimonials;
}

.testimonials-heading {
  margin: auto;
  color: hsl(210, 4%, 67%);
  font-size: 1.3rem;
  letter-spacing: 0.3ch;
}

.testimonials-content {
  margin: 3rem 0;
}

.testimonials-article:not(:last-child) {
  margin-bottom: 2.5rem;
}

.profile-img {
  border-radius: 50%;
  margin-bottom: 2rem;
}

.testimonials-content p {
  width: 60%;
}

.name,
.job-role {
  display: block;
}

.name {
  margin-top: 1.5rem;
}

.job-role {
  margin-bottom: 1.2rem;
  color: hsl(213, 9%, 39%);
}

.milk {
  background: lightblue url("/images/desktop/image-gallery-milkbottles.jpg")
    no-repeat center;
  background-size: cover;
}

.orange-half {
  background: orange url("/images/desktop/image-gallery-orange.jpg") no-repeat
    center;
  background-size: cover;
}

.cone {
  background: lightblue url("/images/desktop/image-gallery-cone.jpg") no-repeat
    center;
  background-size: cover;
}

.sugar-cubes {
  background: lightblue url("/images/desktop/image-gallery-sugarcubes.jpg")
    no-repeat center;
  background-size: cover;
}

.footer {
  background-color: #83cbbd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav ul {
  display: flex;
}

.footer-nav li {
  margin: 0 2rem;
}

.social-media {
  margin: 2.5rem 0;
}

.social-icons-wrapper {
  margin-right: 1rem;
}

/* =================
REPETTITIVE STYLES
================== */
a {
  text-decoration: none;
}

.main a {
  display: inline-block;
  margin-top: 2rem;
  border-radius: 5px;
  color: black;
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.p {
  font-size: 0.9em;
  width: 75%;
  margin: auto;
}

.title,
.h2,
.h3,
.testimonials-heading,
.name {
  font-family: Fraunces;
}

/* ============
  ELEMENT STATE 
=============== */

.main-nav-ul a:hover {
  color: black;
  text-decoration: underline;
}

.contact-btn:hover {
  background-color: hsl(213, 9%, 39%);
  color: hsl(51, 100%, 49%);
  transition: 500ms;
}

.transform a:hover {
  border-bottom: 5px solid rgba(255, 232, 102);
}

.standout a:hover {
  border-bottom: 5px solid rgba(253, 122, 104);
}

.footer a:hover {
  color: white;
}

.social-icons:hover {
  fill: white;
  cursor: pointer;
}

/* ===============
MEDIA QUERIES
 ================*/

@media (min-width: 1000px) {
}
